# 0.Set up

In [1]:
import numpy as np
import pandas as pd
import pickle

from src.config import RAWDATA_PATH, TARGET, DATA_PATH, SUBSAMPLE_PATH
from src.data_engineering import get_column_names

%load_ext autoreload
%autoreload 2

In [3]:
column_names = get_column_names()
raw_data = pd.read_csv(RAWDATA_PATH, header=None, names=column_names)

In [4]:
## Double check the operation is correct (no of column_names matches the no of columns in raw_data)
len(column_names), raw_data.shape

(42, (199523, 42))

In [5]:
raw_data.head(5).T

,0,1,2,3,4
age,73,58,18,9,10
class_of_worker,Not in universe,Self-employed-not incorporated,Not in universe,Not in universe,Not in universe
detailed_industry_recode,0,4,0,0,0
detailed_occupation_recode,0,34,0,0,0
education,High school graduate,Some college but no degree,10th grade,Children,Children
wage_per_hour,0,0,0,0,0
enroll_in_edu_inst_last_wk,Not in universe,Not in universe,High school,Not in universe,Not in universe
marital_stat,Widowed,Divorced,Never married,Never married,Never married
major_industry_code,Not in universe or children,Construction,Not in universe or children,Not in universe or children,Not in universe or children
major_occupation_code,Not in universe,Precision production craft & repair,Not in universe,Not in universe,Not in universe
race,White,White,Asian or Pacific Islander,White,White
hispanic_origin,All other,All other,All other,All other,All other
sex,Female,Male,Female,Female,Female
member_of_a_labor_union,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe
reason_for_unemployment,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe
full_or_part_time_employment_stat,Not in labor force,Children or Armed Forces,Not in labor force,Children or Armed Forces,Children or Armed Forces
capital_gains,0,0,0,0,0
capital_losses,0,0,0,0,0
dividends_from_stocks,0,0,0,0,0
tax_filer_stat,Nonfiler,Head of household,Nonfiler,Nonfiler,Nonfiler
region_of_previous_residence,Not in universe,South,Not in universe,Not in universe,Not in universe
state_of_previous_residence,Not in universe,Arkansas,Not in universe,Not in universe,Not in universe
detailed_household_and_family_stat,Other Rel 18+ ever marr not in subfamily,Householder,Child 18+ never marr Not in a subfamily,Child <18 never marr not in subfamily,Child <18 never marr not in subfamily
detailed_household_summary_in_household,Other relative of householder,Householder,Child 18 or older,Child under 18 never married,Child under 18 never married
instance_weight,1700.09,1053.55,991.95,1758.14,1069.16
migration_code-change_in_msa,?,MSA to MSA,?,Nonmover,Nonmover
migration_code-change_in_reg,?,Same county,?,Nonmover,Nonmover
migration_code-move_within_reg,?,Same county,?,Nonmover,Nonmover
live_in_this_house_1_year_ago,Not in universe under 1 year old,No,Not in universe under 1 year old,Yes,Yes
migration_prev_res_in_sunbelt,?,Yes,?,Not in universe,Not in universe
num_persons_worked_for_employer,0,1,0,0,0
family_members_under_18,Not in universe,Not in universe,Not in universe,Both parents present,Both parents present
country_of_birth_father,United-States,United-States,Vietnam,United-States,United-States
country_of_birth_mother,United-States,United-States,Vietnam,United-States,United-States
country_of_birth_self,United-States,United-States,Vietnam,United-States,United-States
citizenship,Native- Born in the United States,Native- Born in the United States,Foreign born- Not a citizen of U S,Native- Born in the United States,Native- Born in the United States
own_business_or_self_employed,0,0,0,0,0
fill_inc_questionnaire_for_veteran's_admin,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe
veterans_benefits,2,2,2,0,0
weeks_worked_in_year,0,52,0,0,0
year,95,94,95,94,94
income_level,- 50000.,- 50000.,- 50000.,- 50000.,- 50000.

### Convert target to binary

In [6]:
data = raw_data.copy()

In [7]:
mapping = {
    ' - 50000.':0,
    ' 50000+.':1
}
data[TARGET] = data[TARGET].map(mapping)

### Convert encoded category to category type

In [8]:
encoded_cats = [
 'detailed_industry_recode',
 'detailed_occupation_recode',
 'own_business_or_self_employed',
 'veterans_benefits',
 'year']
for col in encoded_cats:
    data[col] = data[col].astype('category')

# 1. Data Overview

In [9]:
data.shape

(199523, 42)

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199523 entries, 0 to 199522
Data columns (total 42 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   age                                         199523 non-null  int64
 1   class_of_worker                             199523 non-null  object
 2   detailed_industry_recode                    199523 non-null  category
 3   detailed_occupation_recode                  199523 non-null  category
 4   education                                   199523 non-null  object
 5   wage_per_hour                               199523 non-null  int64
 6   enroll_in_edu_inst_last_wk                  199523 non-null  object
 7   marital_stat                                199523 non-null  object
 8   major_industry_code                         199523 non-null  object
 9   major_occupation_code                       199523 non-null  object
 10  race                                        199523 non-null  object
 11  hispanic_origin                             199523 non-null  object
 12  sex                                         199523 non-null  object
 13  member_of_a_labor_union                     199523 non-null  object
 14  reason_for_unemployment                     199523 non-null  object
 15  full_or_part_time_employment_stat           199523 non-null  object
 16  capital_gains                               199523 non-null  int64
 17  capital_losses                              199523 non-null  int64
 18  dividends_from_stocks                       199523 non-null  int64
 19  tax_filer_stat                              199523 non-null  object
 20  region_of_previous_residence                199523 non-null  object
 21  state_of_previous_residence                 199523 non-null  object
 22  detailed_household_and_family_stat          199523 non-null  object
 23  detailed_household_summary_in_household     199523 non-null  object
 24  instance_weight                             199523 non-null  float64
 25  migration_code-change_in_msa                199523 non-null  object
 26  migration_code-change_in_reg                199523 non-null  object
 27  migration_code-move_within_reg              199523 non-null  object
 28  live_in_this_house_1_year_ago               199523 non-null  object
 29  migration_prev_res_in_sunbelt               199523 non-null  object
 30  num_persons_worked_for_employer             199523 non-null  int64
 31  family_members_under_18                     199523 non-null  object
 32  country_of_birth_father                     199523 non-null  object
 33  country_of_birth_mother                     199523 non-null  object
 34  country_of_birth_self                       199523 non-null  object
 35  citizenship                                 199523 non-null  object
 36  own_business_or_self_employed               199523 non-null  category
 37  fill_inc_questionnaire_for_veteran's_admin  199523 non-null  object
 38  veterans_benefits                           199523 non-null  category
 39  weeks_worked_in_year                        199523 non-null  int64
 40  year                                        199523 non-null  category
 41  income_level                                199523 non-null  int64
dtypes: category(5), float64(1), int64(8), object(28)
memory usage: 57.3+ MB

In [11]:
# Check missing value - None
data.isna().sum()

age                                           0
class_of_worker                               0
detailed_industry_recode                      0
detailed_occupation_recode                    0
education                                     0
wage_per_hour                                 0
enroll_in_edu_inst_last_wk                    0
marital_stat                                  0
major_industry_code                           0
major_occupation_code                         0
race                                          0
hispanic_origin                               0
sex                                           0
member_of_a_labor_union                       0
reason_for_unemployment                       0
full_or_part_time_employment_stat             0
capital_gains                                 0
capital_losses                                0
dividends_from_stocks                         0
tax_filer_stat                                0
region_of_previous_residence                  0
state_of_previous_residence                   0
detailed_household_and_family_stat            0
detailed_household_summary_in_household       0
instance_weight                               0
migration_code-change_in_msa                  0
migration_code-change_in_reg                  0
migration_code-move_within_reg                0
live_in_this_house_1_year_ago                 0
migration_prev_res_in_sunbelt                 0
num_persons_worked_for_employer               0
family_members_under_18                       0
country_of_birth_father                       0
country_of_birth_mother                       0
country_of_birth_self                         0
citizenship                                   0
own_business_or_self_employed                 0
fill_inc_questionnaire_for_veteran's_admin    0
veterans_benefits                             0
weeks_worked_in_year                          0
year                                          0
income_level                                  0
dtype: int64

In [12]:
# Drop duplicates
data = data.drop_duplicates()
data.shape

(196294, 42)

In [13]:
# Check class imbalance - very imbalanced -> Will need to subsample data + adjsut for class weight for model training
data[TARGET].value_counts(normalize=True)

income_level
0    0.936921
1    0.063079
Name: proportion, dtype: float64

### Save to disk

In [14]:
with open(DATA_PATH, 'wb') as f:
    pickle.dump(data, f)

# 2. Subsample data

In [15]:
data[TARGET].value_counts()

income_level
0    183912
1     12382
Name: count, dtype: int64

In [16]:
# Given the larget dataset size, it's fine to only keep 10% negative class
pos, neg = data.loc[data[TARGET]==1], data.loc[data[TARGET]==0]

subsample_data = pd.concat([
    pos,
    neg.sample(frac=0.1, random_state=42)
])

In [17]:
# Check class imbalance for subsampled dataset
subsample_data[TARGET].value_counts(normalize=True)

income_level
0    0.597634
1    0.402366
Name: proportion, dtype: float64

### Save to disk

In [18]:
with open(SUBSAMPLE_PATH, 'wb') as f:
    pickle.dump(subsample_data, f)