# 0.Set up

In [1]:
import numpy as np
import pandas as pd
import pickle

from src.config import HOLDOUT_PATH, HOLDOUT_PROCESSED, TARGET
from src.data_engineering import get_column_names

%load_ext autoreload
%autoreload 2

In [2]:
column_names = get_column_names()
raw_data = pd.read_csv(HOLDOUT_PATH, header=None, names=column_names)

In [3]:
## Double check the operation is correct (no of column_names matches the no of columns in raw_data)
len(column_names), raw_data.shape

(42, (99762, 42))

In [4]:
raw_data.head(5).T

,0,1,2,3,4
age,38,44,2,35,49
class_of_worker,Private,Self-employed-not incorporated,Not in universe,Private,Private
detailed_industry_recode,6,37,0,29,4
detailed_occupation_recode,36,12,0,3,34
education,1st 2nd 3rd or 4th grade,Associates degree-occup /vocational,Children,High school graduate,High school graduate
wage_per_hour,0,0,0,0,0
enroll_in_edu_inst_last_wk,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe
marital_stat,Married-civilian spouse present,Married-civilian spouse present,Never married,Divorced,Divorced
major_industry_code,Manufacturing-durable goods,Business and repair services,Not in universe or children,Transportation,Construction
major_occupation_code,Machine operators assmblrs & inspctrs,Professional specialty,Not in universe,Executive admin and managerial,Precision production craft & repair
race,White,White,White,White,White
hispanic_origin,Mexican (Mexicano),All other,Mexican-American,All other,All other
sex,Female,Female,Male,Female,Male
member_of_a_labor_union,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe
reason_for_unemployment,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe
full_or_part_time_employment_stat,Full-time schedules,PT for econ reasons usually PT,Children or Armed Forces,Children or Armed Forces,Full-time schedules
capital_gains,0,0,0,0,0
capital_losses,0,0,0,0,0
dividends_from_stocks,0,2500,0,0,0
tax_filer_stat,Joint one under 65 & one 65+,Joint both under 65,Nonfiler,Head of household,Single
region_of_previous_residence,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe
state_of_previous_residence,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe
detailed_household_and_family_stat,Spouse of householder,Spouse of householder,Child <18 never marr not in subfamily,Householder,Secondary individual
detailed_household_summary_in_household,Spouse of householder,Spouse of householder,Child under 18 never married,Householder,Nonrelative of householder
instance_weight,1032.38,1462.33,1601.75,1866.88,1394.54
migration_code-change_in_msa,?,?,?,Nonmover,?
migration_code-change_in_reg,?,?,?,Nonmover,?
migration_code-move_within_reg,?,?,?,Nonmover,?
live_in_this_house_1_year_ago,Not in universe under 1 year old,Not in universe under 1 year old,Not in universe under 1 year old,Yes,Not in universe under 1 year old
migration_prev_res_in_sunbelt,?,?,?,Not in universe,?
num_persons_worked_for_employer,4,1,0,5,4
family_members_under_18,Not in universe,Not in universe,Both parents present,Not in universe,Not in universe
country_of_birth_father,Mexico,United-States,United-States,United-States,United-States
country_of_birth_mother,Mexico,United-States,United-States,United-States,United-States
country_of_birth_self,Mexico,United-States,United-States,United-States,United-States
citizenship,Foreign born- Not a citizen of U S,Native- Born in the United States,Native- Born in the United States,Native- Born in the United States,Native- Born in the United States
own_business_or_self_employed,0,0,0,2,0
fill_inc_questionnaire_for_veteran's_admin,Not in universe,Not in universe,Not in universe,Not in universe,Not in universe
veterans_benefits,2,2,0,2,2
weeks_worked_in_year,12,26,0,52,50
year,95,95,95,94,95
income_level,- 50000.,- 50000.,- 50000.,- 50000.,- 50000.

### Convert target to binary

In [5]:
data = raw_data.copy()

In [6]:
mapping = {
    ' - 50000.':0,
    ' 50000+.':1
}
data[TARGET] = data[TARGET].map(mapping)

### Convert encoded category to category type

In [7]:
encoded_cats = [
 'detailed_industry_recode',
 'detailed_occupation_recode',
 'own_business_or_self_employed',
 'veterans_benefits',
 'year']
for col in encoded_cats:
    data[col] = data[col].astype('category')

### Feature engineering

In [8]:
bins =  [-1] + [i*20 for i in range(6) if i != 0]
labels = [i for i in range(5)]
data['age_group'] = pd.cut(data['age'], bins=bins, labels=labels)
# data['age_group'] = data['age_group'].astype('int')

# 1. Data Overview

In [9]:
data.shape

(99762, 43)

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99762 entries, 0 to 99761
Data columns (total 43 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   age                                         99762 non-null  int64
 1   class_of_worker                             99762 non-null  object
 2   detailed_industry_recode                    99762 non-null  category
 3   detailed_occupation_recode                  99762 non-null  category
 4   education                                   99762 non-null  object
 5   wage_per_hour                               99762 non-null  int64
 6   enroll_in_edu_inst_last_wk                  99762 non-null  object
 7   marital_stat                                99762 non-null  object
 8   major_industry_code                         99762 non-null  object
 9   major_occupation_code                       99762 non-null  object
 10  race                                        99762 non-null  object
 11  hispanic_origin                             99762 non-null  object
 12  sex                                         99762 non-null  object
 13  member_of_a_labor_union                     99762 non-null  object
 14  reason_for_unemployment                     99762 non-null  object
 15  full_or_part_time_employment_stat           99762 non-null  object
 16  capital_gains                               99762 non-null  int64
 17  capital_losses                              99762 non-null  int64
 18  dividends_from_stocks                       99762 non-null  int64
 19  tax_filer_stat                              99762 non-null  object
 20  region_of_previous_residence                99762 non-null  object
 21  state_of_previous_residence                 99762 non-null  object
 22  detailed_household_and_family_stat          99762 non-null  object
 23  detailed_household_summary_in_household     99762 non-null  object
 24  instance_weight                             99762 non-null  float64
 25  migration_code-change_in_msa                99762 non-null  object
 26  migration_code-change_in_reg                99762 non-null  object
 27  migration_code-move_within_reg              99762 non-null  object
 28  live_in_this_house_1_year_ago               99762 non-null  object
 29  migration_prev_res_in_sunbelt               99762 non-null  object
 30  num_persons_worked_for_employer             99762 non-null  int64
 31  family_members_under_18                     99762 non-null  object
 32  country_of_birth_father                     99762 non-null  object
 33  country_of_birth_mother                     99762 non-null  object
 34  country_of_birth_self                       99762 non-null  object
 35  citizenship                                 99762 non-null  object
 36  own_business_or_self_employed               99762 non-null  category
 37  fill_inc_questionnaire_for_veteran's_admin  99762 non-null  object
 38  veterans_benefits                           99762 non-null  category
 39  weeks_worked_in_year                        99762 non-null  int64
 40  year                                        99762 non-null  category
 41  income_level                                99762 non-null  int64
 42  age_group                                   99762 non-null  category
dtypes: category(6), float64(1), int64(8), object(28)
memory usage: 28.7+ MB

In [11]:
# Check missing value - None
data.isna().sum()

age                                           0
class_of_worker                               0
detailed_industry_recode                      0
detailed_occupation_recode                    0
education                                     0
wage_per_hour                                 0
enroll_in_edu_inst_last_wk                    0
marital_stat                                  0
major_industry_code                           0
major_occupation_code                         0
race                                          0
hispanic_origin                               0
sex                                           0
member_of_a_labor_union                       0
reason_for_unemployment                       0
full_or_part_time_employment_stat             0
capital_gains                                 0
capital_losses                                0
dividends_from_stocks                         0
tax_filer_stat                                0
region_of_previous_residence                  0
state_of_previous_residence                   0
detailed_household_and_family_stat            0
detailed_household_summary_in_household       0
instance_weight                               0
migration_code-change_in_msa                  0
migration_code-change_in_reg                  0
migration_code-move_within_reg                0
live_in_this_house_1_year_ago                 0
migration_prev_res_in_sunbelt                 0
num_persons_worked_for_employer               0
family_members_under_18                       0
country_of_birth_father                       0
country_of_birth_mother                       0
country_of_birth_self                         0
citizenship                                   0
own_business_or_self_employed                 0
fill_inc_questionnaire_for_veteran's_admin    0
veterans_benefits                             0
weeks_worked_in_year                          0
year                                          0
income_level                                  0
age_group                                     0
dtype: int64

In [12]:
# Drop duplicates
data = data.drop_duplicates()
data.shape

(98879, 43)

In [13]:
# Check class imbalance - very imbalanced -> Will need to subsample data + adjsut for class weight for model training
data[TARGET].value_counts(normalize=True)

income_level
0    0.937439
1    0.062561
Name: proportion, dtype: float64

### Save to disk

In [14]:
with open(HOLDOUT_PROCESSED, 'wb') as f:
    pickle.dump(data, f)